:root {
  --primary-color: black;
  --secondary-color: gray;
  --text-color: black;
  --secondary-text-color: white;
  --primary-background-color: lightblue;
  --secondary-background-color: black;
  --third-background-color: white;
  --button-text-color: white;
  --responsive-margin-top: 0;
  --responsive-margin-top-large: 10px;
  --primary-font: "Work Sans", sans-serif;
  --secondary-font: "Oswald", sans-serif;
  --body-font-weight: 300;
  --secondary-font-weight: 700;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: var(--primary-font);
  font-weight: var(--body-font-weight);
  font-size: 1.6rem;
  background-color: var(--primary-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
}

h2 {
  font-size: 30px;
  border-bottom: var(--primary-color) solid 3px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

figure {
  margin: 0;
}

.menubar {
  margin: 0;
  width: 50%;
  border-bottom: 3px solid var(--primary-color);
}

.menubar-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.menuitem {
  color: var(--secondary-text-color);
  flex-shrink: 0;
  font-family: var(--secondary-font);
  font-weight: var(--secondary-font-weight);
  font-size: 18px;
  margin: 0;
  padding: 10px 10px;
  line-height: 1;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.menuitem a,
.menuitem a:visited,
.menuitem a:link {
  color: var(--secondary-text-color);
}

.menuitem:hover {
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

.wrapper {
  flex: 1 0 auto;
}

.push {
  flex-grow: 1;
  flex-shrink: 0;
  min-height: 20px;
}

.header {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: var(--secondary-background-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.siteheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: var(--primary-background-color);
  margin-top: 20px;
}

.site-title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: var(--secondary-font);
  font-size: 5rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

/* .siteheader:after {
  display: block;
  margin: 1rem 0;
  content: "⚍⚌⚍";
} */

.maincontent {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 60rem;
}

.page-header {
  margin-bottom: 3rem;
}

.page-header__heading {
  margin-top: -1rem;
  text-align: center;
}

.page-header:after {
  margin: 4rem auto;
  display: block;
  content: "";
  border-bottom: 3px solid var(--primary-color);
  width: 4rem;
}

.video {
  width: 500px;
  margin-bottom: 4rem;
  flex-shrink: 1;

  /* padding-bottom: rem; */

  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 0 3rem; */
}
#email_link_bar {
  display: none;
}

/* .email_link:hover {
   
  /* transition: all 0.5s ease; */
 */

.video:after {
  margin: 0 auto;
  padding-top: 4rem;
  display: block;
  grid-column: span 2;
  content: "";
  border-bottom: 3px solid var(--primary-color);
  width: 4rem;
}

.video__name {
  margin-top: 2rem;
  margin-bottom: 0;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  border-bottom: 3px solid var(--primary-color);
}

.image__genre {
  margin-top: 2rem;
  margin-bottom: 0;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  border-bottom: 3px solid var(--primary-color);
}

.video__details {
  margin: 0;
  padding: 1rem 0 0;
  list-style-type: none;
}

.video__details li {
  padding: 0.2rem 0;
  font-size: 15px;
}

.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video__spot {
  opacity: 1;
  transition: all 1s ease;
}

.image {
  width: 500px;
  height: 500px;
  background-size: cover;
}

.front_image {
  width: 100%;
  border-radius: 5px;
  outline: var(--primary-color) solid;
  transition: all 1s ease;
  display: block;
  height: auto;
}

/* .front_image:hover {
  width: 150px;
  transition: all 0.2s ease;
  filter: saturate(0);
} */

.front_image_container {
  position: relative;
  width: 50%;
  margin: 5px;
}

.front_image_container:hover .image_text {
  opacity: 1;
  top: 50%;
  transition: all 0.5s ease;
}

.front_image_container:hover .front_image {
  opacity: 0.2;
  background-color: var(--primary-background-color);
  filter: blur(5px);
  transition: all 1s ease;
}

.image-block {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  /* outline: black solid; */
}

hr.new1 {
  border: 2px solid var(--primary-color);
  width: 100%;
}

.image_text {
  font-family: var(--secondary-font);
  font-weight: var(--secondary-font-weight);
  text-transform: uppercase;
  text-align: left;

  /* border-bottom: 3px solid black; */
  position: absolute;
  top: 75%;

  /* background: rgb(100, 100, 100);
  background: rgba(255, 255, 255, 0.5); Black see-through */
  color: var(--primary-color);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  font-size: 20px;
  padding: 10px;
}

.sitefooter {
  flex-shrink: 0;
  bottom: 0;
  padding: 10px;
  margin-top: 2rem;

  /* padding: 1rem; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: var(--secondary-background-color);
  color: white;
}

/* footer {
  top: 100%;
  width: 100%;
} */

.rights-text {
  font-family: var(--primary-font);
  font-size: 15px;
  margin: 10px;
}

.social-media {
  margin: 10px;
}

.social-media_logo {
  transition: all 0.2s ease;
  opacity: 0.8;
}

.social-media_logo:hover,
.social-media_logo:focus {
  opacity: 1;
  cursor: pointer;
  /* border-bottom: var(--third-background-color) 3px solid; */
}

.videosection,
.container,
#container,
.marketing,
.features,
.buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.buttons {
  margin-bottom: 20px;
}
.buttons button {
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
  font-family: var(--secondary-font);
  font-weight: var(--secondary-font-weight);
  font-size: 15px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 10px;
  line-height: 1;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.nodisplay {
  display: none;
}

#myBtn {
  display: block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: solid var(--secondary-color) thin; /* Remove outline */
  background-color: transparent; /* Set a background color */
  color: var(--secondary-color); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 6px; /* Some padding */
  font-size: 22px; /* Increase font size */
  opacity: 0;
  transition: 0.5s ease;
}

#myBtn:hover {
  background-color: var(--primary-background-color);
  color: var(--secondary-text-color); /* Text color */
  /* Add a dark-grey background on hover */
}

.email_icon {
  background-color: var(--third-background-color);
}

@media only screen and (max-width: 750px) {
  .menubar {
    display: none;
  }

  .menubar-list {
    flex-direction: column;
  }

  #myBtn {
    bottom: 150px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
  }
}

@media only screen and (max-width: 620px) {
  .videosection,
  .container,
  .marketing,
  .features {
    padding: 0 20px;
  }
  .site-title {
    font-size: 4rem;
    padding: 0 20px;
  }
  .front_image_container {
    max-width: auto;
    width: 100%;
  }
}

@media only screen and (min-width: 620px) {
  .front_image_container {
    max-width: 300px;
    width: 100%;
  }
}
