.email_overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed; /* Stay in place */
  z-index: 98; /* Sit on top */
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.5s;
}

.email_overlay-content {
  position: relative;
  top: 20%;
  margin: 0 auto;
  padding: 0 10px;
  text-align: left;
  font-family: var(--secondary-font);
  font-size: 20px;
  font-weight: var(--secondary-font-weight);
  color: var(--secondary-text-color);
  width: 90%;
}

#fieldset-contact {
  margin-top: 1em;
  border: solid 2px;
}
#fieldset-message {
  border: solid 2px;
}
.contact-form {
  display: flex;
  flex-direction: column;
}

.email_overlay .closebtn_email {
  position: absolute;
  top: 20%;
  right: 5%;
  font-size: 30px;
  z-index: 99;
}

.standard-label {
  text-transform: uppercase;
}

#contact-name,
#contact-email,
#contact-tel,
#contact-message {
  flex-shrink: 1;
  width: 100%;
  margin: 10px 0;
  padding: 5px;
}

#send-message {
  text-transform: uppercase;
  font-family: var(--secondary-font);
  font-size: 20px;
  font-weight: var(--secondary-font-weight);
  margin-top: 10px;
}

.email_link {
  padding-top: 7px;
  padding-bottom: 0;
}
.nodisplay {
  display: none;
}

#result_good,
#result_bad {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.closebtn_email {
  color: var(--secondary-text-color);
}
#email_link_bar {
  display: inherit;
  padding-right: 2px;
  margin-top: 5px;
}

@media screen and (max-height: 700px) {
  .standard-label {
    font-size: 15px;
  }
  h2 {
    font-size: 20px;
  }
  #send-message {
    font-size: 15px;
  }
}

@media screen and (max-height: 400px) {
  .contact-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #contact-name,
  #contact-email,
  #contact-tel,
  #contact-message {
    flex-shrink: 1;
    width: 40%;
    margin: 10px 10px;
    padding: 5px;
  }

  #send-message {
    max-height: 30px;
    margin: 10px;
  }
}
