/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 1.6rem;
  background-color: lightblue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

figure {
  margin: 0;
}

.menubar {
  margin: 0;
  width: 50%;
  border-bottom: 3px solid black;
}

.menubar-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menuitem {
  color: white;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  padding: 10px 0;
  line-height: 1;
  text-transform: uppercase;
}

.menuitem a,
.menuitem a:visited,
.menuitem a:link {
  color: white;
}

.wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.push {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  min-height: 20px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.siteheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem;
  background-color: lightblue;
  margin-top: 20px;
}

.site-title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "Oswald", sans-serif;
  font-size: 5rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.siteheader: after {
  display: block;
  margin: 1rem 0;
  content: "⚍⚌⚍";
}

.maincontent {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 60rem;
}

.page-header {
  margin-bottom: 3rem;
}

.page-header__heading {
  margin-top: -1rem;
  text-align: center;
}

.page-header: after {
  margin: 4rem auto;
  display: block;
  content: "";
  border-bottom: 3px solid black;
  width: 4rem;
}

.video {
  width: 500px;
  margin-bottom: 4rem;
  -ms-flex-negative: 1;
  flex-shrink: 1;

  /* padding-bottom: rem; */

  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 0 3rem; */
}

.video: after {
  margin: 0 auto;
  padding-top: 4rem;
  display: block;
  -ms-grid-column-span: 2;
  grid-column: span 2;
  content: "";
  border-bottom: 3px solid black;
  width: 4rem;
}

.video__name {
  margin-top: 2rem;
  margin-bottom: 0;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  border-bottom: 3px solid black;
}

.image__genre {
  margin-top: 2rem;
  margin-bottom: 0;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  border-bottom: 3px solid black;
}

.video__details {
  margin: 0;
  padding: 1rem 0 0;
  list-style-type: none;
}

.video__details li {
  padding: 0.2rem 0;
  font-size: 15px;
}

.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video__spot {
  opacity: 1;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.image {
  width: 500px;
  height: 500px;
  background-size: cover;
}

.front_image {
  width: 100%;
  border-radius: 5px;
  outline: black solid;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  display: block;
  height: auto;
}

/* .front_image:hover {
  width: 150px;
  transition: all 0.2s ease;
  filter: saturate(0);
} */

.front_image_container {
  position: relative;
  max-width: 300px;
  width: 50%;
  margin: 5px;
}

.front_image_container:hover .image_text {
  opacity: 1;
  top: 50%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.front_image_container:hover .front_image {
  opacity: 0.2;
  background-color: lightblue;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.image-block {
  margin: 0 auto;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  /* outline: black solid; */
}

hr.new1 {
  border: 2px solid black;
  width: 100%;
}

.image_text {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;

  /* border-bottom: 3px solid black; */
  position: absolute;
  top: 75%;

  /* background: rgb(100, 100, 100);
  background: rgba(255, 255, 255, 0.5); Black see-through */
  color: black;
  width: 100%;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  font-size: 20px;
  padding: 10px;
}

.sitefooter {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  bottom: 0;
  padding: 10px;
  margin-top: 2rem;

  /* padding: 1rem; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: black;
  color: white;
}

/* footer {
  top: 100%;
  width: 100%;
} */

.rights-text {
  font-size: 15px;
  margin: 10px;
}

.social-media {
  margin: 10px;
}

.videosection,
.container,
.marketing,
.features {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.nodisplay {
  display: none;
}

#myBtn {
  display: block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: solid grey thin; /* Remove outline */
  background-color: transparent; /* Set a background color */
  color: grey; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 6px; /* Some padding */
  font-size: 22px; /* Increase font size */
  opacity: 0;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

#myBtn:hover {
  background-color: black;
  color: white; /* Text color */
  /* Add a dark-grey background on hover */
}

@media only screen and (max-width: 700px) {
  .menubar {
    display: none;
  }

  .menubar-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #myBtn {
    bottom: 150px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
  }
}
