.email_overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 55%;
  width: 40%;
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 30%;
  top: 25%;
  border-radius: 20px;
  outline-style: inset;
  outline-width: 3px;
  /* background-image: url(../images/avid_edit_screen.png);
  background-position: center;
  background-repeat: no-repeat; */
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.email_overlay-content {
  position: relative;
  top: 2%;
  margin: 0 auto;
  padding: 0 10px;
  text-align: left;
  font-family: var(--secondary-font);
  font-size: 20px;
  font-weight: var(--secondary-font-weight);
  color: var(--text-color);
  width: 90%;
}

#fieldset-contact {
  margin-top: 1em;
  border: solid 2px;
}
#fieldset-message {
  border: solid 2px;
}
.contact-form {
  display: flex;
  flex-direction: column;
}

.email_overlay .closebtn_email {
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 30px;
  color: var(--text-color);
}

.standard-label {
  text-transform: uppercase;
}

#contact-name,
#contact-email,
#contact-tel,
#contact-message {
  flex-shrink: 1;
  width: 100%;
  margin: 10px 0;
  padding: 5px;
}

#send-message {
  text-transform: uppercase;
  font-family: var(--secondary-font);
  font-size: 20px;
  font-weight: var(--secondary-font-weight);
  margin-top: 10px;
}

.email_link {
  padding-top: 7px;
  padding-bottom: 0;
}

@media screen and (max-width: 750px) {
  .email_overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 55%;
    width: 90%;
    left: 5%;
    top: 25%;
  }
  .email_overlay-content {
    top: 0%;
  }
}
#email_link_bar {
  display: inherit;
  padding-right: 2px;
  margin-top: 5px;
}
@media screen and (max-height: 850px) {
  .email_overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 72%;
    width: 80%;
    left: 10%;
    top: 14%;
  }
}

@media screen and (max-height: 700px) {
  .email_overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 86%;
    width: 96%;
    left: 2%;
    top: 7%;
  }
  .standard-label {
    font-size: 15px;
  }
  h2 {
    font-size: 20px;
  }
  #send-message {
    font-size: 15px;
  }
}

@media screen and (max-height: 400px) {
  .email_overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 86%;
    width: 96%;
    left: 2%;
    top: 10%;
  }

  .contact-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #contact-name,
  #contact-email,
  #contact-tel,
  #contact-message {
    flex-shrink: 1;
    width: 40%;
    margin: 10px 10px;
    padding: 5px;
  }

  #send-message {
    max-height: 30px;
    margin: 10px;
  }

  .email_overlay-content {
    width: 100%;
  }

  .email_overlay .closebtn_email {
    position: absolute;
    top: 80%;
    right: 2%;
    font-size: 30px;
    color: var(--text-color);
  }
}
